################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FYP/FGGC Framework Semester 2/.vs/DX11 Framework/v15/Browse.VC.db
